.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#include-sidebar {
  background-color: #1c2237;
}
.sidebar {
  background-color: #666666;
  height: 100vh;
}
.sidebar-items {
  height: 100%;
}
.sidebar-item {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
.sidebar-item > button {
  display: flex;
  background-color: #666666;
  border: none;
  color: white;
  font-size: 40px;
  border-radius: 40px;
}
.sidebar-item > button > img {
  padding-top: 15px;
  width: 12%;
}
.sidebar-item > button > p {
  padding-left: 20px;
}
.sidebar-item > button:hover {
  background-color: white;
  color: #666666;
}
